In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("Linear Regression - Sheet1.csv")

In [5]:
data

       X           Y
0      1    3.888889
1      2    4.555556
2      3    5.222222
3      4    5.888889
4      5    6.555556
..   ...         ...
295  296  200.555556
296  297  201.222222
297  298  201.888889
298  299    1.888889
299  300    1.888889

[300 rows x 2 columns]

In [7]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
data.head()

   X         Y
0  1  3.888889
1  2  4.555556
2  3  5.222222
3  4  5.888889
4  5  6.555556

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       300 non-null    int64
 1   Y       300 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 4.8 KB

In [13]:
data.describe()

                X           Y
count  300.000000  300.000000
mean   150.500000  102.215556
std     86.746758   57.842711
min      1.000000    1.888889
25%     75.750000   52.388889
50%    150.500000  102.222222
75%    225.250000  152.055556
max    300.000000  201.888889

In [15]:
data.columns

Index(['X', 'Y'], dtype='object')

In [17]:
data.isnull

<bound method DataFrame.isnull of        X           Y
0      1    3.888889
1      2    4.555556
2      3    5.222222
3      4    5.888889
4      5    6.555556
..   ...         ...
295  296  200.555556
296  297  201.222222
297  298  201.888889
298  299    1.888889
299  300    1.888889

[300 rows x 2 columns]>

In [19]:
data.isnull().any()

X    False
Y    False
dtype: bool

In [21]:
data.isnull().sum()

X    0
Y    0
dtype: int64

In [23]:
data.shape

(300, 2)

In [25]:
data.columns

Index(['X', 'Y'], dtype='object')